
.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.nav-item.toolbaritem a {
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 100px;
}
:host ::ng-deep .datatable-header {
    background-color: #f5f7f9 !important;          
    border-radius: 10px;             
    display: flex !important;                    
    align-items: center !important;              
    margin-top: 20px;                
    color: black !important;                   
    padding: 25px 0;
    margin: 10px 0;
  }
  
  
  :host ::ng-deep .empty-row.ng-star-inserted {
    justify-content: center;       
    display: flex;                    
    font-size: 17px;           
    padding: 10px;              
  
  }
  
  :host ::ng-deep .page-count.ng-star-inserted {
    justify-content: flex-end;        
    display: flex;                   
    font-size: 16px;              
    padding: 10px;               
  }

  .createRole{
    padding: 10px 20px !important;
    background-color: black;
  }