<!-- <div class="test-details">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title m-0">{{ test?.title }}</h5>
      <div class="row">
        <div class="col">
          <p class="card-text">
            <strong>Subject:</strong> {{ test?.subject }}
          </p>
        </div>
        <div class="col">
          <p class="card-text">
            <strong>Grade:</strong> {{ test?.grade }}
          </p>
        </div>
        <div class="col">
          <p class="card-text">
            <strong>Exam Date:</strong> {{ test?.examStartDate | date: 'longDate' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br /> -->
<div class="assign-students">
  <div class="row">
    <!-- Available Students Section -->
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center">
        <label class="form-label">Available Students</label>
      </div>
      <div class="student-list">
        <div *ngFor="let student of availableStudents" class="form-check student-item d-flex align-items-center mb-2">
          <input 
            type="checkbox" 
            class="form-check-input me-3 styled-checkbox" 
            id="student-{{student.id}}" 
            [(ngModel)]="student.isSelected" 
            (change)="onCheckboxChange(student)"
          />
          <label for="student-{{student.id}}" class="form-check-label student-label">
            {{ student.fullName }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>



