$footerHeight: 40px;

.app-container {
  min-height: 100vh;
  display: flex;
  background-color: #FFF !important;
}

main {
  height: calc(100% - #{$footerHeight});
  padding-top: 80px;
  background-color: #FFF !important;
}

.footer-height {
  height: $footerHeight;
  background-color: #F4F2EE;
}

.main-content {
  flex: 1; /* This makes sure the main content takes the remaining space between the navbar and footer */
}

.nav-item{
  padding:2px 10px;
}

.active-item {
  background-color: #e5e5e5; 
  border-radius: 4px; 
}


footer {
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: #f5f5f5;
}

.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: inherit;
  z-index: 999;
}

.bg-white{
    background-color:white;
}
.close-navbar-toggler.collapsed {
  display: none;
}

.navbar-brand > img {
  height: 30px;
}

.navbar .nav-pills a:focus,
.navbar .nav-pills a:hover {
  //color: #575757;
  color: #0D6EFD;
}

.navbar .nav-pills > .active > a,
.navbar .nav-pills > .active > a:hover,
.navbar .nav-pills > .active > a:focus {
  background-color: ghostwhite;
  color: #0D6EFD;
}

.navbar .nav-link,
.navbar .navbar-text {
  color: #0073B1;
  display: flex;
  align-items: center;
}
.container-xl {
  color: #555; /* Light dark color for container content */
 // background-color: #F4F2EE;
}

.navbar .nav-pills > li > a {
  font-weight: bold;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.verticai-divider {
  display: inline-block;
  width: 2px; /* Thickness of the line */
  height: 24px; /* Height of the line, adjust as needed */
  background-color: #0073B1; /* Color of the line */
  margin: 0 16px; /* Space between the icons and the line */
}

/* Hide scrollbar for input[type=number] in WebKit browsers (Chrome, Safari, etc.) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon-large {
  font-size: 1.5rem; /* Increase icon font size */
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 0.2em 0.5em;
}

.custom-dropdown {
  min-width: 200px;
}

.dropdown-header {
  background-color: #f8f9fa; 
  border-bottom: 1px solid #dee2e6; 
}

.dropdown-header span {
  font-weight: bold; 
}

.dropdown-divider {
  margin: 0;
}

.nav-link i {
  font-size: 24px; 
}


.header-shadow {
  border-bottom: 3px solid #0073B1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for the header */
}

.footer-shadow {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for the footer */
}
/* Hide scrollbar for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


@media screen and (max-width: 991px) {
  .navbar .nav-pills > li + li {
    margin-left: 0;
    margin-top: 1px;
  }
}

@media screen and (min-width: 992px) {
  .navbar .nav-pills > li + li {
    margin-left: 2px;
  }




}
