<div class="app-component app-container">
  <ngx-toasta></ngx-toasta>

  <nav id="header" *ngIf="showHeader" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm header-shadow">
    <div class="container d-flex justify-content-between header">
      <!-- Brand/Logo -->
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/new-logo.png" class="d-inline-block align-top" alt="logo">
      </a>

      <!-- Toggle button for mobile view -->
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".menuItemsContainer">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="isUserLoggedIn" class="collapse navbar-collapse menuItemsContainer">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active" [ngClass]="{'active-item': isActive('/dashboard-learner')}" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/"><mat-icon fontSet="material-icons-outlined">home</mat-icon> Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [ngClass]="{'active-item': isActive('/question')}" *ngIf="canCreateQuestion">
            <a class="nav-link" routerLink="/question"><mat-icon fontSet="material-icons-outlined">question_mark</mat-icon> Questions</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [ngClass]="{'active-item': isActive('/tests')}" *ngIf="canViewOrders">
            <a class="nav-link" routerLink="/tests"><mat-icon fontSet="material-icons-outlined">assessment</mat-icon> Tests</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [ngClass]="{'active-item': isActive('/customers')}" *ngIf="canViewCustomers">
            <a class="nav-link" routerLink="/customers"><mat-icon fontSet="material-icons-outlined">group</mat-icon> Activities</a>
          </li>
        </ul>

        <div class="d-flex">

        <!-- Notifications -->
        <a class="nav-link user-name d-flex align-items-center position-relative">
          <i class="bi bi-person-circle me-1 icon-large"></i> 
          {{ userName }}
        </a>
        
        <span class="verticai-divider"></span>

        <a class="nav-link user-name d-flex align-items-center position-relative" [popover]="popTemplate" 
           (onHidden)="markNotificationsAsRead()" placement="bottom" [popoverTitle]="notificationsTitle" 
           href="javascript:;" triggers="focus" containerClass="notifications-popup" >
          <i class="bi bi-bell me-1 icon-large"></i> <!-- Bootstrap Notification Icon -->
          <span *ngIf="newNotificationCount > 0" class="badge notification-badge">{{ newNotificationCount }}</span>
        </a>        
        
        <ng-template #popTemplate>
          <app-notifications-viewer [isViewOnly]="true"></app-notifications-viewer>
        </ng-template>

        <span class="verticai-divider"></span>
        
        <!-- <a class="nav-link d-flex align-items-center position-relative" routerLink="/settings" title="Settings" data-bs-toggle="tooltip">
          <i class="fa fa-cog me-1 icon-large"></i>
        </a> -->
        <div class="nav-item dropdown">
          <a
            class="nav-link d-flex align-items-center position-relative dropdown-toggle"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            title="Settings"
          >
            <i class="fa fa-cog me-1 icon-large"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li>
              <a class="dropdown-item" routerLink="/profile">Profile</a>
            </li>
          </ul>
        </div>
        

        <span class="verticai-divider"></span>
        
        <a class="nav-link d-flex align-items-center position-relative" (click)="logout()" title="Logout" data-bs-toggle="tooltip">
          <i class="fa fa-sign-out me-1 icon-large"></i>
        </a>

        <!-- User Profile and Settings -->
        <!-- <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle me-1 icon-large"></i> 
              {{ userName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm custom-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-header d-flex align-items-center p-3">
                <i class="bi bi-person-circle me-2 icon-large"></i>
                <span>{{ userName }}</span>
              </div>
              <li>
                <a class="dropdown-item d-flex align-items-center p-3" routerLink="/settings">
                  <i class="fa fa-cog me-2"></i> Settings
                </a>
              </li>
              <hr class="dropdown-divider">
              <li>
                <a class="dropdown-item d-flex align-items-center text-danger p-3" (click)="logout()">
                  <i class="fa fa-sign-out me-2"></i> Logout
                </a>
              </li>
            </ul>
          </li>
        </ul> -->
      </div>

      </div>

      <div *ngIf="!isUserLoggedIn" class="collapse navbar-collapse menuItemsContainer">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in me-2 icon-large"></i> Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container-xl px-3 px-md-4 px-xxl-5 bg-light">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer fixed-bottom navbar-light bg-white footer-shadow">
    <div class="container text-center px-3">
      <small class="text-muted">
        MyLearn &copy; {{ getYear() }} <a href="https://www.ebenmonney.com" target="_blank">www.ebenmonney.com</a>
      </small>
    </div>
  </footer>
</div>
