<div class="my-2">  

  <div class="row-container">
    <!-- Search Box -->
   

    <!-- Action Buttons -->
    <!-- <div class="action-buttons">
      <button
        *ngIf="isEditingIndex === selectedRowIndex && canEditTests"
        class="action-button rounded"
        (click)="saveTest(selectedTest, selectedRowIndex)"
      >
        Save
      </button>
      <button
        *ngIf="isEditingIndex !== selectedRowIndex && canEditTests && activeTab === TestStatusViewModel.Upcoming"
        class="action-button rounded"
        (click)="editTest(selectedTest?.id)"
      >
        Edit
      </button>
      <button
        *ngIf="canDeleteTests && activeTab === TestStatusViewModel.Upcoming"
        class="action-button rounded"
        (click)="removeTest(selectedTest?.id)"
      >
        Remove
      </button>
      <button
        *ngIf="canViewTests"
        class="action-button rounded"
        (click)="viewQuestions(selectedTest)"
      >
        View Questions
      </button>
      <button
        *ngIf="!canTakeTest"
        class="action-button rounded"
        (click)="showAssignedUsers(selectedTest)"
        [disabled]="!selectedTest"
      >
        Assign Students
      </button>
      <button
        *ngIf="canTakeTest"
        class="action-button rounded"
        (click)="showAttemptModal(selectedTest?.id)"
        [disabled]="!selectedTest"
      >
        {{ selectedTest?.attemptCount }} Attempts
      </button>
      <button
        *ngIf="canTakeTest && activeTab === TestStatusViewModel.InProgress"
        class="action-button rounded"
        (click)="onStartTest(selectedTest?.id, selectedTest?.isResume, selectedTest?.attemptId)"
        [disabled]="!selectedTest"
      >
        {{ selectedTest?.isResume ? 'Resume Test' : 'Start Test' }}
      </button>
      <button
        *ngIf="canTakeTest && activeTab === TestStatusViewModel.InProgress"
        class="action-button rounded"
        (click)="onActionselected()"
        [disabled]="!selectedTest"
      >
        Actions
      </button>
      <button
        *ngIf="canCreateTest"
        class="action-button rounded"
        (click)="navigateToCreateTest()"
      >
        Create Test
      </button>
    </div> -->
    

    <!-- Tabs -->
    <!-- <mat-tab-group
      class="custom-tab-group"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      [selectedIndex]="defaultTabIndex"
      (selectedTabChange)="onTabChange($event)"
    >
  <mat-tab label="Pending"></mat-tab>
  <mat-tab label="In Progress"></mat-tab>
  <mat-tab label="Completed"></mat-tab>
</mat-tab-group> -->
<div class="dashboard">
  <h2>Test Dashboard</h2>

  <!-- Search Bar & Create Button -->
  <div class="row-container">
  <div class="search-box-container">
    <app-search-box
      class="search-box"
      (searchChange)="onSearchChanged($event)"
      placeholder="Search for a test..."
    ></app-search-box>
  </div>
  <div class="action-buttons">
    <button class="create-btn action-buttons"
    *ngIf="canCreateTest"
    (click)="navigateToCreateTest()"
    >Create Test</button>
  </div>
</div>
  <!-- Tabs -->
  <div class="tabs">
    <div class="tab" [class.active]="activeTab === 'Pending'" (click)="openTab('Pending')">Pending</div>
    <div class="tab" [class.active]="activeTab === 'InProgress'" (click)="openTab('InProgress')">In Progress</div>
    <div class="tab" [class.active]="activeTab === 'Completed'" (click)="openTab('Completed')">Completed</div>
  </div>

  <!-- Tab Content -->
  <div *ngIf="activeTab === 'Pending'" class="tab-container">
    <table class="test-table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Test Name</th>
          <th>Subject</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody  *ngFor="let item of filteredPendingTests; let rowIndex = index">
        <tr>
          <td><input
              type="radio"
              name="rowSelection"
              [value]="item"
              [(ngModel)]="selectedTest"
              (change)="updateActionButtons(item,'start')"
            /></td>
          <td>{{ item.title }}</td>
          <td>📐 {{ item.subject }}</td>
          <td>{{ item.grade }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="activeTab === 'InProgress'" class="tab-container">
    <table class="test-table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Test Name</th>
          <th>Subject</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody  *ngFor="let item of filteredInProgressTests; let rowIndex = index">
        <tr>
          <td><input
              type="radio"
              name="rowSelection"
              [value]="item"
              [(ngModel)]="selectedTest"
              (change)="updateActionButtons(item, 'resume')"
            /></td>
          <td>{{ item.title }}</td>
          <td>📐 {{ item.subject }}</td>
          <td>{{ item.grade }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="activeTab === 'Completed'" class="tab-container">
    <table class="test-table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Test Name</th>
          <th>Subject</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of filteredCompletedTests; let rowIndex = index" >
        <tr>
          <td><input
            type="radio"
            name="rowSelection"
            [value]="item"
            [(ngModel)]="selectedTest"
            (change)="updateActionButtons(item,'completed')"
          /></td>
        <td>{{ item.title }}</td>
        <td>📖 {{ item.subject }}</td>
        <td>{{ item.grade }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Action Buttons -->
   <div *ngIf="selectedTest" class="action-btn-container">
    <div *ngIf="canTakeTest">
      <button class="btn btn-primary" (click)="onStartTest(selectedTest?.id, selectedTest?.isResume, selectedTest?.attemptId)">
        {{ selectedTest?.isResume ? 'Resume Test' : 'Start Test' }}
      </button>
    </div>
    <div *ngIf="canTakeTest">
      <button class="btn btn-primary" id="assignStudentsButton" (click)="showAssignedUsers(selectedTest)" [disabled]="!selectedTest">
        Assign Students
      </button>
    </div>
    <div *ngIf="canViewQuestions">
      <button class="btn btn-primary" id="viewButton" (click)="viewQuestions(selectedTest)">View Questions</button>
    </div>
    <div *ngIf="canViewTestResults">
      <button class="btn btn-primary" id="viewButton" (click)="showAttemptModal(selectedTest?.id)">Attempts</button>
    </div>
    <div *ngIf="canEditTests">
      <button class="btn btn-primary" (click)="editTest(selectedTest?.id)">
        Edit
      </button>
    </div>
    <div *ngIf="canDeleteTests">
      <button class="btn btn-primary" id="deleteButton" (click)="removeTest(selectedTest?.id)">
        Delete Test
      </button>
    </div>
   </div>
</div> 
</div>


  

  <!-- Tab Content -->
  <!-- <div class="tab-content">
    <div *ngIf="activeTab === 'Upcoming'" class="content">
      <ngx-datatable
          [loadingIndicator]="loadingIndicator"
          class="material colored-header sm table-x table-striped table-hover"
          [rows]="filteredUpcomingTests"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'">
        </ngx-datatable>
    </div>
    <div *ngIf="activeTab === 'InProgress'" class="content">
      
      <div class="custom-table">
        Header Row -->
        <!-- <div class="custom-row header">
          <div class="custom-cell">Select</div>
          <div class="custom-cell">Name</div>
          <div class="custom-cell">Year</div>
          <div class="custom-cell">Subject</div>
        </div> -->
      
        <!-- Data Rows -->
        <!-- <div
          class="custom-row"
          *ngFor="let item of filteredInProgressTests; let rowIndex = index"
          [class.selected]="selectedTest === item"
          (click)="onRowSelect(item, rowIndex)"
        >
          <div class="custom-cell">
            <input
              type="radio"
              name="rowSelection"
              [value]="item"
              [(ngModel)]="selectedTest"
              (change)="onRadioChange(item)"
            />
          </div>
          <div class="custom-cell">{{ item.title }}</div>
          <div class="custom-cell">{{ item.grade }}</div>
          <div class="custom-cell">{{ item.subject }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'Completed'" class="content">
      <ngx-datatable
          [loadingIndicator]="loadingIndicator"
          class="material colored-header sm table-x table-striped table-hover"
          [rows]="filteredCompletedTests"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'">
        </ngx-datatable>
    </div> -->
  <!-- </div>  -->

  <!-- Templates for ngx-datatable (common for all tabs if applicable) -->
  <!-- <ng-template #attemptTemplate let-value="value" let-row="row">
    <a href="javascript:void(0);" (click)="showAttemptModal(row.id)" *ngIf="canTakeTest">{{ row.attemptCount }} Attempts</a>
  </ng-template>

  <ng-template #assignTemplate let-row="row">
    <a href="javascript:;" data-bs-toggle="modal" (click)="showAssignedUsers(row)">Assign Students</a>
  </ng-template>

  <ng-template #actionsTemplate let-row="row" let-i="rowIndex">
    <div>
      <button *ngIf="isEditingIndex === i && canEditTests" class="btn btn-success btn-sm" (click)="saveTest(row, i)">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
      </button>
      <button *ngIf="isEditingIndex !== i && canEditTests && activeTab === TestStatusViewModel.Upcoming" class="btn btn-info btn-sm" (click)="editTest(row.id)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
      </button>
      <button *ngIf="canDeleteTests && activeTab === TestStatusViewModel.Upcoming" class="btn btn-danger btn-sm" (click)="removeTest(row.id)">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
      </button>
      <button *ngIf="canViewTests" class="btn btn-primary btn-sm" (click)="viewQuestions(row)">
        <i class="fa fa-eye" aria-hidden="true"></i> View Questions
      </button>
      <button *ngIf="canTakeTest && activeTab === TestStatusViewModel.InProgress" class="btn btn-primary btn-sm" (click)="onStartTest(row.id, row.isResume,row.attemptId)">
        <i class="fa fa-play" aria-hidden="true"></i> {{ row.isResume ? 'Resume Test' : 'Start Test' }}
      </button>

    </div>
  </ng-template> -->


  <div class="modal" id="assignStudentsModal" #assignStudentsModalRef>
    <div class="modal-dialog custom-modal-width">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Assigned Students</h4>
          <button mat-button type="button" class="close" data-dismiss="modal" (click)="hideModal()">&times;</button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <app-assign-tests [test]="selectedTest" [availableStudents]="unassignedStudents" [assignedStudents]="assignedStudents" (updateAssignedStudents)="updateAssignedStudents($event)"></app-assign-tests>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveAssignments()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- View Questions Modal -->
  <div class="modal" id="viewQuestionsModal" #viewQuestionsModalRef>
    <div class="modal-dialog custom-modal-width-viewquestion">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Questions</h4>
          <button mat-button type="button" class="close" data-dismiss="modal" (click)="hideQuestionModal()">&times;</button>
        </div>
        <div class="modal-body">
          <app-view-questions [questionViewModels]="questionModel"></app-view-questions>

          <!-- Here you would dynamically generate or display questions -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideQuestionModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal" id="attemptModal" #attemptModalRef>
  <div class="modal-dialog custom-modal-width">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title">Test Attempts</h5>
        <button type="button" class="btn btn-secondary close" (click)="hideAttemptModalRefModal()">×</button>
      </div>
      <div class="modal-body">
        <app-test-attempt [learnerId]="learnerId" [testId]="selectedTest?.id"></app-test-attempt>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideAttemptModalRefModal()">Close</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" bsModal #testEditorModal="bs-modal" (onHidden)="onTestEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="!testId" class="modal-title float-start"><i class="fa fa-plus"></i> Create New Test</h4>
        <h4 *ngIf="testId" class="modal-title float-start"><i class="fa fa-edit"></i> Edit Test</h4>
        <button type="button" class="btn-close float-end fs-sm" title="Close" (click)="testEditorModal.hide()"></button>
      </div>
      <div class="modal-body">
        <app-createtests #createtestsComponent [testId]="testId" (refreshNeeded)="refreshData()"></app-createtests>
      </div>
    </div>
  </div>
</div>

