  <div class="margin-bottom-80">
    <header class="header">
      <h2 class="heading-font">Profile</h2>
      <!-- Add Child Icon -->
      <!-- <i class="fas fa-plus add-icon"></i> -->
      <!-- <button
        type="button"
        class="btn btn-success"
        (click)="newChildUser()"
      >
        + {{ "settings.profile.AddNewChildren" | translate }}
      </button> -->
      
      <button (click)="newChildUser()" style="background: none; border: none; padding: 0;">
        <i class="fa-solid fa-user-plus fa-2xl primary-color"></i>
      </button>
    </header>

    <div class="profile-cards row">
      <!-- Parent Profile Card -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
        <div class="profile-card parent-card">
          <div
            class="icon-section"
            *ngIf="!isEditMode && !isGeneralEditor"
            type="button"
            (click)="edit()"
          >
            <i class="icon-edit"></i>
          </div>
          <div class="d-flex flex-column align-items-center text-center margin-bottom-32">
            <div class="profile-container">
              <img
                id="profile-image"
                [src]="userEdit?.profileImage ? userEdit.profileImage : 'https://bootdey.com/img/Content/avatar/avatar6.png'"
                alt="Profile Image"
                class="profile-image"
                width="150"
                (click)="triggerFileInput('parent')"
              />
              <i class="fa-solid fa-camera iconStyles" (click)="triggerFileInput('parent')"></i>
              <input type="file" id="upload-parent-image" class="upload-input" accept="image/*" (change)="previewImage($event, 'parent')" />
            </div>
          </div>          
          <!-- <div class="d-flex flex-column align-items-center text-center">
            <div class="profile-container">
              <img id="profile-image" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Profile Image" class="profile-image" width="150" />
              <div class="mask">
                <input type="file" id="upload" class="upload-input" />
                <label for="upload" class="upload-label">Upload Image</label>
              </div>
            </div> -->
            
            <div id="crop-container" class="crop-container">
              <img id="crop-image" src="" alt="Crop Image" />
              <button id="crop-button" class="crop-button">Crop & Save</button>
            </div>
          <form
            *ngIf="formResetToggle"
            [attr.autocomplete]="isGeneralEditor ? 'NaN' : null"
            name="userInfoForm"
            #f="ngForm"
            novalidate
            (ngSubmit)="
              f.form.valid
                ? save()
                : !userName.valid &&
                  showErrorAlert(
                    'User name is required',
                    'Please enter a user name (minimum of 2 and maximum of 200 characters)'
                  );
              email.errors?.required &&
                showErrorAlert(
                  'Email is required',
                  'Please enter an email address (maximum of 200 characters)'
                );
            "
          >
            <div *ngIf="!isEditMode">
              <!-- <p class="form-control-plaintext">
                {{ "users.editor.FullName" | translate }} {{ user.fullName }}
              </p> -->
              <p class="name-text">{{user.fullName}}</p>
            </div>
            <div *ngIf="isEditMode" class="margin">
              <input
                type="text"
                attr.id="fullName-{{ uniqueId }}"
                name="fullName"
                placeholder="Enter full name"
                class="form-control"
                [(ngModel)]="userEdit.fullName"
              />
            </div>
            <div *ngIf="!isEditMode">
              <!-- <p class="form-control-plaintext">
                {{ "users.editor.UserName" | translate }} {{ user.userName }}
              </p> -->
              <p><span class="label-font">User name: </span><span class="value-font">{{user.userName}}</span></p>
            </div>
            <div *ngIf="isEditMode" class="margin">
              <input
                type="text"
                attr.id="userName-{{ uniqueId }}"
                name="userName"
                [attr.autocomplete]="isGeneralEditor ? 'new-password' : null"
                placeholder="Enter user name"
                class="form-control"
                [ngClass]="{
                  'is-valid': f.submitted && userName.valid,
                  'is-invalid': f.submitted && !userName.valid
                }"
                [(ngModel)]="userEdit.userName"
                #userName="ngModel"
                required
                minlength="2"
                maxlength="200"
              />
              <span
                *ngIf="showValidationErrors && f.submitted && !userName.valid"
                class="invalid-feedback"
              >
                {{ "users.editor.UserNameRequired" | translate }}
              </span>
            </div>
            <div *ngIf="!isEditMode">
              <p><span class="label-font">Email: </span><span class="value-font">{{user.email}}</span></p>
              <p class="form-control-plaintext">
                <!-- {{ "users.editor.Email" | translate }} {{ user.email }} -->
                
                <button
                  type="button"
                  *ngIf="emailConfirmed === false"
                  (click)="sendVerificationEmail()"
                  [disabled]="isSendingEmail"
                  class="btn btn-link btn-sm send-confirm-email"
                >
                  [{{ "users.editor.SendVerificationEmail" | translate }}]
                </button>
              </p>
            </div>
            <div *ngIf="isEditMode" class="margin">
              <input
                type="text"
                attr.id="email-{{ uniqueId }}"
                name="email"
                placeholder="Enter email address"
                class="form-control"
                [ngClass]="{
                  'is-valid': f.submitted && email.valid,
                  'is-invalid': f.submitted && !email.valid
                }"
                [(ngModel)]="userEdit.email"
                #email="ngModel"
                required
                maxlength="200"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
              />
              <span
                *ngIf="
                  showValidationErrors && f.submitted && email.errors?.required
                "
                class="invalid-feedback"
              >
                {{ "users.editor.EmailRequired" | translate }}
              </span>
              <span
                *ngIf="
                  showValidationErrors && f.submitted && email.errors?.pattern
                "
                class="invalid-feedback"
              >
                {{ "users.editor.InvalidEmail" | translate }}
              </span>
            </div>
            <div *ngIf="!isEditMode">
              <!-- <p class="form-control-plaintext">
                {{ "users.editor.PhoneNumber" | translate }}
                {{ user.phoneNumber }}
              </p> -->
              <p><span class="label-font">Phone: </span><span class="value-font">{{user.phoneNumber}}</span></p>
            </div>
            <div *ngIf="isEditMode" class="margin">
              <input
                type="text"
                attr.id="phoneNumber-{{ uniqueId }}"
                name="phoneNumber"
                placeholder="Enter phone number"
                class="form-control"
                [(ngModel)]="userEdit.phoneNumber"
              />
            </div>
            <div ngPreserveWhitespaces class="float-end">
              <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-outline-secondary"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
              <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
              <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
              </button>
            </div>
          </form>
        </div>
      </div>
    
      <!-- Child Profile Cards -->
      <ng-container *ngFor="let childData of rows || []; let i = index">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
          <div class="profile-card child-card">
            <div
              class="icon-section"
              type="button"
              (click)="editChildUser(childData)"
            >
              <i class="icon-edit"></i>
            </div>
            <!-- <img
              src="../../../assets/images/userImage.png"
              alt="Child Image"
              class="profile-image"
            /> -->
            <div class="d-flex flex-column align-items-center text-center margin-bottom-32">
              <div class="profile-container">
                <img
                  id="child-profile-image"
                  [src]="childData?.profileImage ? childData.profileImage : 'https://bootdey.com/img/Content/avatar/avatar7.png'"
                  alt="Profile Image"
                  class="profile-image"
                  width="150"
                  (click)="triggerFileInput('child',childData)"
                />
                <i class="fa-solid fa-camera iconStyles" (click)="triggerFileInput('child',childData)"></i>
                <input type="file" id="upload-child-image" class="upload-input" accept="image/*" (change)="previewImage($event,'child',childData)" />
            </div>
            </div>             
          <div class="childContainer">
            <p class="name-text">{{childData.fullName}}</p>
            <p><span class="label-font">User name: </span><span class="value-font">{{childData.userName}}</span></p>
            <p><span class="label-font">Grade: </span><span class="value-font">{{childData.grade}}</span></p>
          </div>
          </div>
        </div>
      </ng-container>
    
      <!-- Modal for Editing User -->
      <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{ backdrop: 'static' }" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h2 *ngIf="!editingUserName" class="modal-title float-start"><mat-icon>person_add</mat-icon> {{ 'users.management.AddProfile' | translate }}</h2>
              <h2 *ngIf="editingUserName" class="modal-title float-start"><i class="fa-solid fa-pen-to-square editIcon"></i>{{ 'users.management.EditProfile' | translate:editingUserName }}</h2>
              <button type="button" class="btn-close float-end fs-sm" title="Close" (click)="editorModal.hide()"></button>
            </div>
            <div class="modal-body">
              <app-user-info #userEditor [isGeneralEditor]="true"></app-user-info>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Add this modal at the end of your template -->
<div *ngIf="isCropModalVisible" class="modal fade show" [ngClass]="{ 'd-block': isCropModalVisible }" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Crop Image</h2>
        <button type="button" class="btn-close float-end fs-sm" title="Close" (click)="closeCropModal()"></button>
      </div>
      <div class="modal-body">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          [resizeToWidth]="150"
          format="png"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCropModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveCroppedImage()">Save</button>
      </div>
    </div>
  </div>
</div>

  </div>

<!-- <div>
  <div class="row control-box">
    <div class="col-lg-9">
      <div class="search-box">
        <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'users.management.Search' | translate}}"></app-search-box>
      </div>
    </div>
    <div class="col-lg-3 pe-lg-5">
      <ul class="nav flex-column flex-lg-row justify-content-end">
        <li *ngIf="canManageUsers && canAssignRoles" class="nav-item toolbaritem">
            <button class="btn btn-primary  createUser"  (click)="newUser()">
              <i class="fa fa-plus-circle"></i> {{'users.management.NewUser' | translate}}
            </button>
        </li>
      </ul>
    </div>
  </div>

  <ngx-datatable class="material colored-header sm table-x table-striped table-hover"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="35"
                 [headerHeight]="37"
                 [footerHeight]="35"
                 [columns]="columns"
                 [scrollbarV]="true"
                 [columnMode]="'force'">
  </ngx-datatable>

  <ng-template #indexTemplate let-value="value">
    <strong>{{value}}</strong>
  </ng-template>

  <ng-template #userNameTemplate let-row="row" let-value="value">
    <span [class.locked-out]="row.isLockedOut" [class.user-disabled]="!row.isEnabled">
      <i *ngIf="row.isLockedOut" class="fa fa-exclamation-triangle"> </i>
      <i *ngIf="!row.isEnabled" class="fa fa-exclamation"> </i>
      {{value}}
    </span>
  </ng-template>

  <ng-template #rolesTemplate let-row="row" let-value="value" let-i="index">
    <span class="user-role badge rounded-pill bg-secondary" *ngFor="let role of value">{{role}}</span>
  </ng-template>

  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <div *ngIf="canManageUsers">
      <a class="btn btn-link text-link btn-sm" href="javascript:;" (click)="editUser(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'users.management.Edit' | translate}}</a>|
      <a class="btn btn-link text-link btn-sm" href="javascript:;" (click)="deleteUser(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'users.management.Delete' | translate}}</a>
    </div>
  </ng-template>


  <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="!editingUserName" class="modal-title float-start"><i class="fa fa-user-plus"></i> {{'users.management.NewUser' | translate}}</h4>
          <h4 *ngIf="editingUserName" class="modal-title float-start"><i class="fa fa-user-circle-o"></i> {{'users.management.EditUser' | translate:editingUserName}}</h4>
          <button type="button" class="btn-close float-end fs-sm" title="Close" (click)="editorModal.hide()"></button>
        </div>
        <div class="modal-body">
          <app-user-info #userEditor [isGeneralEditor]="true"></app-user-info>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- 
<div class="container mt-4">
  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-12 mb-4"
      *ngFor="let card of [1,2,3,4]; let i = index"
    >
      <div class="card shadow">
        <div class="card-header">
          <h5 class="card-title">{{ 'Card ' + (i + 1) }}</h5>
        </div>
        <div class="card-body">
          <div>
            <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? 'NaN' : null" name="userInfoForm" #f="ngForm" novalidate
                  (ngSubmit)="f.form.valid ? save() :
          
                    (!userName.valid && showErrorAlert('User name is required', 'Please enter a user name (minimum of 2 and maximum of 200 characters)'));
          
                    (userPassword && !userPassword.valid && showErrorAlert('Password is required', 'Please enter the current password'));
          
                    (email.errors?.required && showErrorAlert('Email is required', 'Please enter an email address (maximum of 200 characters)'));
                    (email.errors?.pattern && showErrorAlert('Invalid Email', 'Please enter a valid email address'));
          
                    (isChangePassword && isEditingSelf && userHasPassword && !currentPassword.valid && showErrorAlert('Current password is required', 'Please enter the current password'));
          
                    ((isChangePassword || isNewUser) && !newPassword.valid && showErrorAlert('New password is required', 'Please enter the new password (minimum of 6 characters)'));
          
                    ((isChangePassword || isNewUser) && newPassword.valid && confirmPassword.errors?.required && showErrorAlert('Confirmation password is required', 'Please enter the confirmation password'));
                    ((isChangePassword || isNewUser) && newPassword.valid && confirmPassword.errors?.appValidateEqual && showErrorAlert('Passwword mismatch', 'New password and confirmation password do not match'));
          
                    (canAssignRoles && !roles.valid && showErrorAlert('Roles is required', 'Please select a minimum of 1 role'));">
          
              <div class="row" *ngIf="!isParentuser">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="jobTitle-{{uniqueId}}">{{'users.editor.JobTitle' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <p class="form-control-plaintext">{{user.jobTitle}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <input appAutofocus type="text" attr.id="jobTitle-{{uniqueId}}" name="jobTitle" placeholder="Enter Job Title" class="form-control" [(ngModel)]="userEdit.jobTitle" />
                </div>
              </div>
          
              <div class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.info-separator]="!isEditMode" [class.edit-separator]="isEditMode" />
                </div>
              </div>
          
              <div class="row">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="userName-{{uniqueId}}">{{'users.editor.UserName' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <p class="form-control-plaintext">{{user.userName}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <input type="text" attr.id="userName-{{uniqueId}}" name="userName" [attr.autocomplete]="isGeneralEditor ? 'new-password' : null" placeholder="Enter user name"
                         class="form-control" [ngClass]="{'is-valid': f.submitted && userName.valid, 'is-invalid' : f.submitted && !userName.valid}"
                         [(ngModel)]="userEdit.userName" #userName="ngModel" required minlength="2" maxlength="200" />
                  <span *ngIf="showValidationErrors && f.submitted && !userName.valid" class="invalid-feedback">
                    {{'users.editor.UserNameRequired' | translate}}
                  </span>
                </div>
              </div>
          
              <div *ngIf="isEditMode && isEditingSelf && !isChangePassword && userHasPassword && (user.userName != userEdit.userName || (emailConfirmed && user.email != userEdit.email))" class="row">
                <div class="col-lg-12">
                  <hr class="hr-password-separator" />
                </div>
              </div>
          
          
          
              <div *ngIf="isEditMode && isEditingSelf && !isChangePassword && userHasPassword && (user.userName != userEdit.userName || (emailConfirmed && user.email != userEdit.email))" class="row">
                <label class="col-form-label col-lg-2" for="userPassword-{{uniqueId}}">{{'users.editor.Password' | translate}}</label>
                <div class="col-lg-10">
                  <input type="password" attr.id="userPassword-{{uniqueId}}" name="userPassword" [attr.autocomplete]="isGeneralEditor ? 'new-password' : null" placeholder="Enter password"
                         class="form-control" [ngClass]="{'is-valid': f.submitted && userPassword.valid, 'is-invalid' : f.submitted && !userPassword.valid}"
                         [(ngModel)]="userEdit.currentPassword" #userPassword="ngModel" required />
                  <small class="hint-sm">{{'users.editor.PasswordHint' | translate}}</small>
                  <span *ngIf="showValidationErrors && f.submitted && !userPassword.valid" class="invalid-feedback">
                    {{'users.editor.CurrentPasswordRequired' | translate}}
                  </span>
                </div>
              </div>
          
          
              <div class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.info-separator]="!isEditMode" [class.edit-separator]="isEditMode" />
                </div>
              </div>
          
              <div class="row">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="email-{{uniqueId}}">{{'users.editor.Email' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <p class="form-control-plaintext">
                    {{user.email}}
                    <button type="button" *ngIf="emailConfirmed === false" (click)="sendVerificationEmail()" [disabled]="isSendingEmail" class="btn btn-link btn-sm send-confirm-email">[{{'users.editor.SendVerificationEmail' | translate}}]</button>
                  </p>
                </div>
                <div *ngIf="isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <input type="text" attr.id="email-{{uniqueId}}" name="email" placeholder="Enter email address" class="form-control" [ngClass]="{'is-valid': f.submitted && email.valid, 'is-invalid' : f.submitted && !email.valid}"
                         [(ngModel)]="userEdit.email" #email="ngModel" required maxlength="200" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
                  <span *ngIf="showValidationErrors && f.submitted && email.errors?.required" class="invalid-feedback">
                    {{'users.editor.EmailRequired' | translate}}
                  </span>
                  <span *ngIf="showValidationErrors && f.submitted && email.errors?.pattern" class="invalid-feedback">
                    {{'users.editor.InvalidEmail' | translate}}
                  </span>
                </div>
              </div>
          
              <!-- <div *ngIf="isEditMode" class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.info-separator]="!isEditMode" [class.edit-separator]="isEditMode" />
                </div>
              </div>
              <div *ngIf="!isEditMode && canSeeGrade()" class="row">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="grade-info">{{'users.editor.Grades' | translate}}</label>
                <div [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <p ngPreserveWhitespaces class="form-control-plaintext">
                    <span title='{{getGradeDescription(user.gradeId)}}' class="badge rounded-pill bg-secondary">{{getGradeDescription(user.gradeId)}}</span>
                  </p>
                </div>
              </div> -->

<!-- <div *ngIf="isEditMode && ((isGeneralEditor && isParentuser)||canSeeGrade())" class="row">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="grade-info-select">{{'users.editor.Grades' | translate}}</label>
                <div [ngClass]="{'is-valid': f.submitted && grades.valid, 'is-invalid' : f.submitted && !grades.valid}" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <ng-select id="grade-info-select" name="grade"
                             [items]="grades"
                             bindLabel="value"
                             bindValue="key"
                             [closeOnSelect]="true"
                             placeholder="Select Grade"
                             [(ngModel)]="userEdit.gradeId" #gradeSelect="ngModel" class="form-control left-status" required>
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span title='{{item.description}}' class='badge rounded-pill bg-secondary'>{{item.value}}<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span></span>
                    </ng-template>
          
                    <ng-template ng-option-tmp let-item="item">
                      <span title='{{item.description}}' class='badge rounded-pill bg-secondary'>{{item.value}}</span>
                      <i class="fa fa-check d-none"></i>
                    </ng-template>
                  </ng-select>
                  <span *ngIf="showValidationErrors && f.submitted && !gradeSelect.valid" class="invalid-feedback">
                    {{'users.editor.GradeRequired' | translate}}
                  </span>
                </div>
              </div> -->

<!-- <div *ngIf="isEditMode" class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.info-separator]="!isEditMode" [class.edit-separator]="isEditMode" />
                </div>
              </div>
              <div *ngIf="isEditMode" class="row">
                <label for="newPassword-{{uniqueId}}" class="col-form-label col-lg-2">{{'users.editor.Password' | translate}}</label>
                <div *ngIf="!isChangePassword && !isNewUser" class="col-lg-10">
                  <button type="button" (click)="changePassword()" class="btn btn-link text-link">{{'users.editor.ChangePassword' | translate}}</button>
                </div>
          
                <div *ngIf="isChangePassword || isNewUser" class="col-lg-10">
                  <div class="password-well card card-body bg-light">
                    <div *ngIf="isEditingSelf && userHasPassword" class="row">
                      <label class="col-form-label col-lg-3" for="currentPassword-{{uniqueId}}">{{'users.editor.CurrentPassword' | translate}}</label>
                      <div class="col-lg-9">
                        <input type="password" attr.id="currentPassword-{{uniqueId}}" name="currentPassword" [attr.autocomplete]="isGeneralEditor ? 'new-password' : null" placeholder="Enter current password" class="form-control"
                               [ngClass]="{'is-valid': f.submitted && currentPassword.valid, 'is-invalid' : f.submitted && !currentPassword.valid}" [(ngModel)]="userEdit.currentPassword" #currentPassword="ngModel" required />
                        <span *ngIf="showValidationErrors && f.submitted && !currentPassword.valid" class="invalid-feedback">
                          {{'users.editor.CurrentPasswordRequired' | translate}}
                        </span>
                      </div>
                    </div>
          
                    <div *ngIf="!isNewUser && userHasPassword" class="row">
                      <div class="col-lg-12">
                        <hr class="hr-password-separator" />
                      </div>
                    </div>
          
                    <div class="row">
                      <label class="col-form-label col-lg-3" for="newPassword-{{uniqueId}}">{{'users.editor.NewPassword' | translate}}</label>
                      <div class="col-lg-9">
                        <input type="password" attr.id="newPassword-{{uniqueId}}" name="newPassword" [attr.autocomplete]="isGeneralEditor ? 'new-password' : null" placeholder="Enter new password" class="form-control"
                               [ngClass]="{'is-valid': f.submitted && newPassword.valid, 'is-invalid' : f.submitted && !newPassword.valid}" [(ngModel)]="userEdit.newPassword" #newPassword="ngModel"
                               required minlength="6" appValidateEqual="confirmPassword" reverse="true" />
                        <span *ngIf="showValidationErrors && f.submitted && !newPassword.valid" class="invalid-feedback">
                          {{'users.editor.NewPasswordRequired' | translate}}
                        </span>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col-lg-12">
                        <hr class="hr-password-separator" />
                      </div>
                    </div>
          
                    <div class="row">
                      <label class="col-form-label col-lg-3" for="confirmPassword-{{uniqueId}}">{{'users.editor.ConfirmPassword' | translate}}</label>
                      <div class="col-lg-9">
                        <input type="password" attr.id="confirmPassword-{{uniqueId}}" name="confirmPassword" [attr.autocomplete]="isGeneralEditor ? 'new-password' : null" placeholder="Confirm new password" class="form-control"
                               [ngClass]="{'is-valid': f.submitted && confirmPassword.valid, 'is-invalid' : f.submitted && !confirmPassword.valid}" [(ngModel)]="userEdit.confirmPassword" #confirmPassword="ngModel"
                               required appValidateEqual="newPassword" />
                        <span *ngIf="showValidationErrors && f.submitted && confirmPassword.errors?.required" class="invalid-feedback">
                          {{'users.editor.ConfirmationPasswordRequired' | translate}}
                        </span>
                        <span *ngIf="showValidationErrors && f.submitted && confirmPassword.errors?.appValidateEqual && !confirmPassword.errors?.required" class="invalid-feedback">
                          {{'users.editor.PasswordMismatch' | translate}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
          
              <div *ngIf="!isEditMode || canAssignRoles" class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.info-separator]="!isEditMode" [class.edit-separator]="isEditMode" />
                </div>
              </div>
          
              <div *ngIf="(!isEditMode || canAssignRoles) || !isParentuser" class="row">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="roles-user-info">{{'users.editor.Roles' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <p ngPreserveWhitespaces class="form-control-plaintext">
                    <span *ngFor="let role of user.roles">
                      <span title='{{getRoleByName(role)?.description}}' class="badge rounded-pill bg-secondary">{{role}}</span>
                    </span>
                  </p>
                </div>
                <div *ngIf="isEditMode && canAssignRoles " [ngClass]="{'is-valid': f.submitted && roles.valid, 'is-invalid' : f.submitted && !roles.valid}" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <ng-select id="roles-user-info" name="roles" [items]="allRoles" bindLabel="name" bindValue="name" [multiple]="true" [closeOnSelect]="false"
                             placeholder="Select Roles" [(ngModel)]="userEdit.roles" #roles="ngModel" class="form-control left-status pill-items" required>
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span title='{{item.description}}' class='badge rounded-pill bg-secondary'>{{item.name}}<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span></span>
                    </ng-template>
          
                    <ng-template ng-option-tmp let-item="item">
                      <span title='{{item.description}}' class='badge rounded-pill bg-secondary'>{{item.name}}</span>
                      <i class="fa fa-check d-none"></i>
                    </ng-template>
                  </ng-select>
                  <span *ngIf="showValidationErrors && f.submitted && !roles.valid" class="invalid-feedback">
                    {{'users.editor.RoleRequired' | translate}}
                  </span>
                </div>
              </div>
          
          
              <div class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.info-separator]="!isEditMode" [class.edit-separator]="isEditMode" />
                </div>
              </div>
          
              <div class="row">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="fullName-{{uniqueId}}">{{'users.editor.FullName' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <p class="form-control-plaintext">{{user.fullName}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <input type="text" attr.id="fullName-{{uniqueId}}" name="fullName" placeholder="Enter full name" class="form-control" [(ngModel)]="userEdit.fullName" />
                </div>
              </div>
          
              <div class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.info-separator]="!isEditMode" [class.edit-separator]="isEditMode" />
                </div>
              </div>
          
              <div class="row">
                <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="phoneNumber-{{uniqueId}}">{{'users.editor.PhoneNumber' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <p class="form-control-plaintext">{{user.phoneNumber}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
                  <input type="text" attr.id="phoneNumber-{{uniqueId}}" name="phoneNumber" placeholder="Enter phone number" class="form-control" [(ngModel)]="userEdit.phoneNumber" />
                </div>
              </div>
          
              <div *ngIf="!isViewOnly" class="row">
                <div class="col-lg-12">
                  <hr class="hr-separator" [class.last-separator]="!isEditMode" [class.last-edit-separator]="isEditMode" />
                </div>
              </div>
          
              <div *ngIf="!isViewOnly" class="row">
                <div class="col-sm-5">
                  <div *ngIf="isGeneralEditor && isEditMode" class="float-start">
                    <div class="form-check user-enabled">
                      <input class="form-check-input" type="checkbox" id="idEnabled" name="isEnabled" [(ngModel)]="userEdit.isEnabled">
                      <label for="idEnabled" class="form-check-label">{{'users.editor.Enabled' | translate}}</label>
                    </div>
                    <button *ngIf="userEdit.isLockedOut" type="button" (click)="unlockUser()" class="btn btn-warning unblock-user" [disabled]="isSaving"><i class='fa fa-unlock-alt'></i> {{'users.editor.Unblock' | translate}}</button>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div ngPreserveWhitespaces class="float-end">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-outline-secondary"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                    <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-outline-secondary"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
                    <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                      <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->
